[submodule "Assignment 4/report/documents-common"]
	path = Assignment 4/report/documents-common
	url = git@github.com:RDeckers/documents-common.git
[submodule "Assignment_4/report/documents-common"]
	path = Assignment_4/report/documents-common
	url = git@github.com:RDeckers/documents-common.git
